body {
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: Helvetica, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Helvetica, sans-serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  padding: auto 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  border: 1px solid #61122f;
}
#nav-list a:hover {
  background: #E7E7E7;
}

/* END HEADER */

/* MAIN CONTENT */
h2 {
  margin: 20px auto;
}

h3 {
  margin: 10px auto;
}

#chicken, #beef, #sushi {
  position: relative;
  height: 700px;
  padding: 20px;
  border: 2px solid #3F0C1F;
  margin: 5px;
  overflow: auto;
}

#chicken span, #beef span, #sushi span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  font-size: 0.8em;
}
/* END MAIN CONTENT */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}

